.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styling navlist */ 
#navlist { 
  overflow: hidden;
  background-color: #0074D9;
  height: 50px;
} 
    
/* styling navlist anchor element */ 
#navlist a { 

  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
} 

.navlist-right{ 
  float:right; 
} 

/* hover effect of navlist anchor element */ 
#navlist a:hover { 
  background-color: #ddd; 
  color: black; 
} 

.navlist a.active {
  background-color: #ddd;
  color: black;
}

.course-card {
  height: 300px;
}

.course-card-div {
  width: 350px;
  /* padding-right: 50px; */
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  width:auto; 
  text-align:center; 
  padding:20px; 
}

.course-card-text {
  text-align: center;
  color: black;
}

.course-card-image {
  /* display: flex; */
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.course-card-image-div {
  max-height: 190px;
  min-height: 190px;
  max-width: 300px;
  min-width: 200px;
  overflow: hidden;
}

.enlarged-course-card-image {
  width:240px;
  height:160px;
  float: right;
}

.enlarged-course-card {
  min-width: 40em;
}

.account-info {
  margin-top: -10px;
}

.cart-item-info {
  margin-top: -10px;
}

.cart-item-info-between-name-link-and-difficulty {
  margin-bottom: 10px;
}

.course-side-text {
  font-weight: bold;
  font-size: 24px
}

.course-div {
  margin-left: 100px;
}

.dollar-bill {
  width: 100%;
}

.blue-clock {
  width: 100%;
}

.small-clock-break {
  /* padding: 0px; */
  margin-top: 10px;
}

.blue-book {
  width: 100%;
}

.cart-item-div {
  margin-left: 30px;
}

.cart-container-div {
  margin-left: 30px;
}

.shopping-cart {
  margin-left: 30px;
}

.account-info-div {
  margin-left: 50px;
}

.account-purchases-div {
  margin-top: -10px;
  margin-left: 30px;
}

.h3-course {
  padding-left: 110px;
}

.company-account-info-div {
  padding-left: 100px;
}

.company-account-info-purchases-div {
  padding-left: 150px;
}

.home-div {
  margin-left: auto;
  margin-right: auto;
}

.top-learning-image {
  height: 400px;
  width: 1050px;
  /* padding-left: 100px; */
  position: relative;
  /* justify-content: center; */
  display: block;
  margin: 0 auto;
}

.inside-top-learning-image {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  background-color: white;
  color: black;
  height: 250px;
  width: 400px;
  margin-top: 50px;
  opacity: 90%;
}

.inside-top-learning-image-h1 {
  margin-left: 20px;
}

.top-learning-div {
  text-align: center;
  position: relative;
}

.what-you-can-do-div {
  /* margin-left: 10%;
  margin-right: auto; */
  text-align: center;
}

.courses-title {
  margin-left: 40px;
}

.search {
  border: 1px solid grey;
  border-radius: 5px;
  height: 37px;
  /* width: 100%; */
  width: 390px;
  padding: 2px 23px 2px 30px;
  outline: 0;
  /* background-color: #f5f5f5; */
  margin-left: 50px;
}

.search:hover, .search:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

/* .course-container-div {

} */

.courses-top-div {
  margin-top: 50px;
  height: 150px;
  position: relative;
  border-bottom: 0.5px solid gray;
}

.course-dropdown-container-div {
  margin-left: 550px;
  position: relative;
  bottom: 70px;
  /* height: 150px; */
  
}

.course_line {  
  margin: 25px 0;
  height: 1px;
  background: black;
  background: -webkit-gradient(linear, 0 0, 100% 0, from(white), to(white), color-stop(50%, black));
}
/* the above lines supposed to be inside CourseContainer */

.course-image {
  /* width:35em; 
  height:22em; */
  width: 100%;
  height: 350px;
  background-size: cover;
  background-position: center;
}

.cart-image {
  width:14em; 
  height:9em;
}

.cart-checkout-item-image {
  width: 12em;
  height: 8em;
  /* padding-right: 20px; */
}

.course-card-info {
  margin-top: -10px;
}

.course-card-info-last {
  margin-top: -5px;
}

.checkout-show-items {
  cursor: pointer;
}

.checkout-courses-card {
  right: 500px;
}

.checkout-courses-div {
  margin-bottom: -8px;
  margin-left: 100px;
}

.purchase-box-div {
  margin-top: 50px;
  margin-left: 400px;
}

.review-before-submission-h2 {
  text-align: center;
}

.user-course-div {
  cursor: pointer;
}

.user-course-div:hover {
  font-weight: bold;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.next-previous-lesson-div {
  text-align: center;
}

.lesson-name-h1 {
  text-align: center;
}

.lesson-container-hide {
  display: none;
}

.about-icon {
  margin: 20px;
}

#twitter-icon {
  width: 3%;
}

#instagram-icon {
  width: 2.8%;
}

#facebook-icon {
  width: 3%;
}

#linkedin-icon {
  width: 3%;
}

.checkout-form-details {
  padding-left: 100px;
}

.content-covered-text-area {
  width: 500px;
  height: 200px;
}

.content-covered-text-area-div {
  margin-left: -40px;
}

.lesson-content-text-area-div {
  text-align: center;
}

.lesson-content-text-area {
  width: 800px;
  height: 400px;
  resize: none;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 20px;
}

/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

.active {
  /* background-color: green; */
  color: white;
}

.centered-link {
  text-align: center;
}

.enlarged-course-card-text {
  padding-left: 500px;
}

.home-about-div {
  text-align: center;
}

.companies-picture {
  height: 50%;
  width: 70%;
}

#companies {
  display: block;
  margin: 0 auto;
  height: 60%;
  width: 60%;
}